.containerForm {
    width: 36%;
}
.form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: min-content;
    background: var(--white);
    border: 0.1VW solid var(--grey-2);
    border-radius: 0.5%;
    padding: 8% 6%;
}
.divDescription p{
    font-style: normal;
    font-weight: 400;
    font-size: 0.8vw;
    color: var(--grey-3);
    margin-bottom: 6%;
}
.divDescription {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.labelDescription {
    font-weight: 400;
    font-size: 0.8vw;
    color: var(--grey-3);
    margin-bottom: 6%;
}
.inputDescription {
    width: 100%;
    font-weight: 400;
    font-size: 1.1vw;
    color: var(--grey-3);
    box-sizing: border-box;
    padding: 4%;
    background: var(--grey-1);
    border: 0.15vw solid var(--grey-1);
    border-radius: 0.5vw;
    margin-bottom: 1%;
}
.divValue {
    width: 100%;
    display: flex;
  justify-content: space-between;

}
.divContentOne {
   width: 45%; 
   display: flex;
   flex-direction: column;
   margin-bottom: 6%;
}
.divContentTwo {
    width: 45%; 
    display: flex;
    flex-direction: column;
    margin-bottom: 6%;
 }
.divContentOne label {
    width: 100%;
    font-weight: 400;
    font-size: 0.8vw;
    color: var(--grey-4);
    margin-bottom: 8%;
}
.divContentTwo label {
    width: 100%;
    font-weight: 400;
    font-size: 0.8vw;
    color: var(--grey-4);
    margin-bottom: 8%;
}
.divContentTwo select {
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 1.1vw;
    box-sizing: border-box;
    padding: 8%;
    background: var(--grey-1);
    border: 0.15vw solid var(--grey-1);
    border-radius: 0.5vw;
    color: var(--grey-3);
}
.inputValue {
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 1.1vw;
    box-sizing: border-box;
    padding: 8%;
    background: var(--grey-1);
    border: 0.15vw solid var(--grey-1);
    border-radius: 0.5vw;
    color: var(--grey-3);
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.inputValue::placeholder {
    padding-left: 80%;
    color: var(--grey-4);
}
.insertValue {
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    color: var(--white);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4% 9%;
    width: 100%;
    height: 9%;
    background: var(--color-primary);
    border: 0.1vw solid var(--color-primary);
    border-radius: 0.4vw;
    cursor: pointer;
}
.insertValue:hover{
    color: var(--grey-1);
    background: var(--color-primary-2);
    border: 0.1vw solid var(--color-primary-2);
}
@media only screen and (max-width:950px){
    .divDescription p{
        font-size: 1.1vw;
    }
    .labelDescription {
        font-size: 1.1vw;
    }
    .inputDescription {
        font-size: 1.3vw;
    }
    .divContentOne label {
        font-size: 1.1vw;
    }
    .divContentTwo label {
        font-size: 1.1vw;
    }
    .divContentTwo select {
        font-size: 1.3vw;
    }
    .inputValue {
        font-size: 1.3vw;
    }
    .inputValue::placeholder {
        padding-left: 75%;
    }
    .insertValue {
        font-size: 1.2vw;
    }
}
@media only screen and (max-width:600px){
.containerForm {
    width: 85%;
    display: flex;
    flex-direction: column;
}
.form {
    width: 100%;
    border: 0.1vw solid var(--grey-2);
    border-radius: 0.5%;
    padding: 8% 6%;
}
.divDescription p{
    font-size: 2.8vw;
    margin-bottom: 6%;
}
.divDescription {
    width: 100%;
}
.labelDescription {
    font-size: 2.8vw;
    margin-bottom: 6%;
}
.inputDescription {
    font-size: 3.1vw;
    padding: 5%;
}
.divValue {
    width: 100%;
}
.divContentOne {
   width: 45%; 
   margin-bottom: 6%;
}
.divContentTwo {
    width: 45%; 
    margin-bottom: 6%;
 }
.divContentOne label {
    width: 100%;
    font-size: 2.8vw;
    margin-bottom: 8%;
}
.divContentTwo label {
    font-size: 2.8vw;
}
.divContentTwo select {
    font-size: 3.1vw;
    padding: 10%;
}
.inputValue {
    font-size: 3.1vw;
    padding: 10%;
}
.insertValue {
    font-size: 3vw;
    height: 19%;
    border-radius: 0.8vw;
}
.insertValue:hover{
    border: 0.1vw solid var(--color-primary-2);
}
}