 .buttonSelect {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 5.7vw;
     height: 5.1vh;
     border-radius: 0.5vw;
     font-style: normal;
     font-weight: 500;
     font-size: 1vw;
     text-align: center;
     cursor: pointer;
     background:var(--color-primary);
     border: 0.1vw solid var(--color-primary);
     color: var(--white);
 }
 button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.7vw;
    height: 5.1vh;
    background: var(--grey-2);
    border: 0.1vw solid var(--grey-2);
    border-radius: 0.5vw;
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    text-align: center;
    color: var(--grey-4);
    cursor: pointer;
}
.buttonSelect:hover {
    color: var(--white);
    background: var(--grey-4);
    border: 0.1vw solid var(--grey-4);
}
button:hover {
    color: var(--white);
    background: var(--grey-4);
    border: 0.1vw solid var(--grey-4);
}
 @media only screen and (max-width:950px){
      .buttonSelect {
         width: 7vw;
         height: 5.4vh;
         font-size: 1.3vw;
     }
     button{
        width: 7vw;
        height: 5.4vh;
        font-size: 1.3vw;
    } 

    button:hover {
        background:var(--grey-4);
        border: 0.1vw solid var(--grey-4);
        color: var(--white);
    }
 }
 @media only screen and (max-width:600px){
      .buttonSelect {
         width: 16vw;
         height: 5.1vh;
         border-radius: 0.8vw;
         font-size: 3vw;
     }
     button{
        width: 16vw;
        height: 5.1vh;
        border-radius: 0.8vw;
        font-size: 3vw;
    } 
 }