.containerMain {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 2.5% 0;
}

.main{
    width: 65%;
    display: flex;
    justify-content: space-around;
}
@media only screen and (max-width:950px){
    
}
@media only screen and (max-width:600px){
    .containerMain {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 4.5% 0;
    }
    
    .main{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}