.titleNoCard {
    font-weight: 700;
    font-size: 1.45vw;
    color: var(--grey-4);
    margin: 2.5% 0;
}
.imgNoCard {
    width: 100%;
}
.cardExit {
    width: 93%;
    margin: 4% 0;
    list-style: none;
    background: var(--grey-1);
    border-radius: 0.5vw;
    border-left: 0.4vw solid var(--grey-2);
    padding: 3%;
    height: 4.3vw;
}
.cardExit:hover{
    background: var(--white);
    box-shadow: 0px 4px 42px -12px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}
.cardExit p{
    font-weight: 400;
    font-size: 0.9vw;
    color: var(--grey-4);
}
.cardEnter {
    width: 93%;
    margin: 4% 0;
    list-style: none;
    background: var(--grey-1);
    border-radius: 0.5vw;
    border-left: 0.4vw solid #03B898;
    padding: 3%;
    height: 4.3vw;
}
.cardEnter:hover{
    background: var(--white);
    box-shadow: 0px 4px 42px -12px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}
.cardEnter p{
    font-weight: 400;
    font-size: 0.9vw;
    color: var(--grey-4);
}
.cardContainer {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-bottom: 3%;
}
.cardTitle p{
    font-weight: 700;
    font-size: 1vw;
    color: var(--grey-4);
}
.cardTitle h1{
    font-weight: 700;
    font-size: 1.3vw;
    color: var(--grey-4);
}
.cardPrice {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.cardPrice p{
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: var(--grey-4);
}
.cardPrice button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.6vw;
    height: 1.6vw;
    margin: 0;
    background: var(--grey-2);
    border-radius: 0.5vw;
    border: 0.5vw solid var(--grey-2);
    color: var(--grey-4);
}
.cardPrice button:hover{
    background: var(--grey-4);
    border: 0.5vw solid var(--grey-4);
    color: var(--grey-1);
    cursor: pointer;
}