.App {
    width: 100vw;
    height: 100vh;
}
.containerMain {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 2.5% 0;
}

.main{
    width: 65%;
    display: flex;
    justify-content: space-around;
}


